<?xml version='1.0' encoding='utf-8'?>
<plugin id="cn.yingzhichu.cordova.gdeeplink" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>GDeeplink</name><js-module name="GDeeplink" src="www/GDeeplink.js"><clobbers target="cordova.plugins.GDeeplink" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="GDeeplink"><param name="android-package" value="cn.yingzhichu.cordova.gdeeplink.GDeeplink" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml"></config-file><source-file src="src/android/GDeeplink.java" target-dir="src/cn/yingzhichu/cordova/gdeeplink/GDeeplink" /></platform></plugin>